.DialogContent {
    max-width: 900px;
    max-height: 80vh;
    padding: 25px;
    overflow-y: auto;
}

.view-team {
    max-width: 450px;
    max-height: 100vh;
    padding: 25px;
    overflow-y: auto;
}

.view-contact {
    max-width: 800px;
    max-height: 100vh;
    padding: 25px;
    overflow-y: auto;
}

.mn-logo {
    max-width: 150px;
}